{% block header %}
<style>
    img {
        width: 100%;
    }
    .container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    max-width: 1000px;
    }
    h2 {
        text-align:center;
    }
    .drink_item {
        border-style: solid;
        border-radius: 20px;
        /* box-shadow: 2px 4px #888888; */
    }
    #message-top{
        grid-column-end: 3;
        grid-column-start: 1;
        text-align: center;
        background: #63A9FF;
        height: 7vh;
        line-height: 7vh;
        font-size: 3vh;
        border-radius: 5px;
        font-weight: bold;
        margin:0;
    }
    #refund-button{
        background: transparent;
        border: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 3vh;
    }
    #refund-button-form{
        display: grid;
        grid-column-end: 3;
        grid-column-start: 1;
        text-align: center;
        background: #63A9FF;
        height: 7vh;
        border-radius: 5px;
    }
</style>

{% endblock %}
{% block content %}
<div class="container">
{% if message %}  
    <p id="message-top">{{ message }}</p>  
{% endif %}
  

{% for path in drink_image_static_paths %}
    <div class="drink_item">
        <h2>{{ path.split('_')[0].split('/')[1] }}: {{ path[:-4].split('_')[1] }}€</h2>
       <a href="/pay/{{ path.split('/')[1] }}"><img src="{{ static_autoversion(path) }}"></a>
    </div>
{% endfor %}
{% for path in snack_image_static_paths %}
    <div class="drink_item">
        <h2>{{ path.split('_')[0].split('/')[1] }}: {{ path[:-4].split('_')[1] }}€</h2>
       <a href="/pay/{{ path.split('/')[1] }}"><img src="{{ static_autoversion(path) }}"></a>
    </div>
{% endfor %}
<form id="refund-button-form" action="/refund">
    <button id="refund-button" type="submit">Refund empty bottle (25¢)</button>
</form>
</div>
{% endblock %}